div{
	width: 90%;
	margin: 0 auto;
	display:grid;
	gap:10px;
	grid-template-columns: 1fr;
	border: 2px solid blue;
}

img{
	width:100%;
	filter:grayscale(85%);
	position:relative;

    transition-property: filter, border-radius, border; 
  	transition-duration: 0.5s;
  	transition-timing-function: linear;

 	animation-name: slidein;
  	animation-duration: 2s;

}

img:hover{
	filter: grayscale(0);
	border-radius: 25px;
	border: 10px solid blue;
	transform:rotate(-15deg);
}

img:nth-child(2n){
	transform:rotate(30deg);
} 

img:nth-child(3n){
	transform:rotate(-30deg);
}

img:nth-child(4n){
	transform:rotate(15deg);
}

img:active{
	transform:rotate(0deg);
}


/*How to do animation*/
@keyframes slidein {
  from {
	top: -160px;
	left: -125px;
  }
  to {
	top: 0px;
	left: 0px;
  }
}

@media all and (min-width:667px){
	div{
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (min-width:900px){
	div{
		grid-template-columns: 1fr 1fr 1fr;
	}

	img:nth-child(2n){
		animation-duration: 6s;
	}

	img:nth-child(3n){
		animation-duration: 2s;
	}
}

@media all and (prefers-reduced-motion:reduce){
	img{
		transition:none;
		animation:none;
		box-sizing: border-box;
	}
}